.list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin-top: 50px;
}
.item {
  width: calc((100% - 80px) / 5);
  height: 150px;
  overflow: hidden;
}
